.aside {
  padding-top: 56px;
  height: 100%;
  background-color: #101823;
  color: rgba(225,235,245,.87);
}

.aside dt {
  padding: 0 16px;
  line-height: 32px;
  opacity: .4;
}

.aside dd {
  padding: 2px 8px;
  line-height: 2;
  font-size: 14px;
}

.aside dd>a {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 0 12px;
  color: inherit;
  border-radius: 500px;
  text-decoration: none;
}

.aside dd>a:hover {
  background-color: rgba(255, 255, 255, .065);
}

.aside dd>a:before {
  content: '';
  position: absolute;
  left: 1rem;
  width: 2rem;
  height: 100%;
  border: 14px solid;
  border-color: inherit;
  border-radius: 500px;
  -webkit-transition: width .4s ease 0s;
  transition: width .4s ease 0s;
}

.aside dd>a.active:before {
  width: 100%;
  left: 0;
}

.aside a>i {
  position: absolute;
  z-index: 0;
  width: 28px;
  height: 28px;
  padding-left: 7px;
}

.aside a>span {
  position: relative;
  margin-left: 44px;
  opacity: 0.65;
}

.aside a.active>span, .aside a:hover>span {
  opacity: 1;
}

.b-success {
  border-color: #22b66e;
}

.b-event {
  border-color: #2196f3;
}

.b-danger {
  border-color: #ef193c;
}

.b-warning {
  border-color: #f3c111;
}

.b-default {
  border-color: rgba(120,130,140,.13);
}

