.app-side {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  width: 200px;
  background: #404040;
  overflow-x: hidden;
  overflow-y: auto;
}

.app-main {
  position: absolute;
  top:0;
  bottom: 0;
  left: 200px;
  right: 0;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: Glyphicons Halflings;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon-calendar:before {
    content: "\E109";
}

.fa-calendar:before {
    content: "\F073";
}

.hello{
  color: red;
}
.ant-layout-aside {
  position: relative;
  min-height: 100%;
}

.ant-layout-aside .ant-layout-logo {
  width: 150px;
  height: 32px;
  background: #333;
  border-radius: 6px;
  margin: 16px 24px 16px 28px;
}

.ant-layout-aside .ant-layout-sider {
  width: 150px;
  background: #404040;
  position: absolute;
  overflow: auto;
  padding-bottom: 24px;
  height: 100%;
}

.ant-layout-aside .ant-layout-sider > .ant-menu {
  margin-bottom: 20px;
}

.ant-layout-aside .ant-layout-header {
  //background: #fff;
  height: 64px;
  border-bottom: 1px solid #e9e9e9;
}

.ant-layout-aside .ant-layout-breadcrumb {
  margin: 7px 0 -17px 24px;
}

.ant-layout-aside .ant-layout-main {
  //margin-left: 150px;
  padding: 15px;
}

.ant-layout-aside .ant-layout-container {
  //margin: 24px 16px;
      margin: -8px -8px 200px;
}

.ant-layout-aside .ant-layout-content {
  //background: #fff;
}

.ant-layout-aside .ant-layout-footer {
  height: 64px;
  line-height: 64px;
  text-align: center;
  font-size: 12px;
  color: #999;
  //background: #fff;
  border-top: 1px solid #e9e9e9;
  width: 100%;
}


.ant-card-extra .ant-btn {
  border: 0px;
  background-color: #fff;
}

.dialog .ant-modal-content {
  border-radius: 0px;
}


.example {
  text-align: center;
  border-radius: 4px;
  height: 160px;
}



.ant-tabs-bar{
  background-color: #f1f1f1;
}
.dialog .pre {
    line-height: 34px;
    height: 34px;
    float: left;
    background-color: #d8d8d8;
    border: 1px solid #b8b7b7;
    padding: 0 6px;
    min-width: 38px;
}

.dialog .ant-modal-header{
    width: 100%;
    padding: 14px 16px;
    border-radius: 0;
    /* background: #fff; */
    color: #fff;
    border-bottom: 1px solid #e9e9e9;
    position: absolute;
    background-color: rgba(51,51,51,.4);
    z-index: 200;
}

.dialog .proTab {
  border-radius: 4px 4px 0 0;
  border: 1px solid #e2e2e2;
    border-top-left-radius: 5px!important;
    border-top-right-radius: 5px!important;
}

.dialog .ant-modal-close {
   color: #fff;
   z-index: 201;
}

.dialog .ant-select-selection {
  border-radius: 0;
}

.dialog .ant-select-selection--single {
  height: 34px;
}

.chart .ant-card-body {
  padding: 0;
  height:100%;
  padding-bottom:48px;
}

.chart .ant-card-head {
  cursor: move;
     border-bottom: 0;
    padding: 0 10px;
}

.chart .ant-card-extra {
    position: absolute;
    right: 10px;
    top: 13px;
}

#normalselect {
  border-radius: 0;
  height: 34px;
  text-align: right;
}
.expandCharDialog .ant-table-thead   tr.ant-table-row-hover, .ant-table-tbody  tr.ant-table-row-hover, .ant-table-thead   tr:hover, .ant-table-tbody  tr:hover {
    background:transparent;
}

body{
  background-color: #eee;
}

 .inspector {
    background: rgba(52,52,52,.8);
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 200px;
    right: 0;
    height: 120px;
    padding: 0 30px 20px;
    overflow-y: hidden;
    transform: translate(0)!important;
    z-index: 1001!important;
    transition: bottom .1s;
}

.inspector .inspector-toggle {
    background: rgba(51,51,51,.4);
    position: absolute;
    top: -4px;
    left: 50%;
    margin-left: -28px;
    line-height: 40px;
    border-radius: 8px;
}
.inspector .inspector-toggle .anticon {
    cursor: row-resize;
    padding: 12px;
    font-size: 20px;

}

.iconfont {
    font-family: iconfont!important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.inspector .inspector-header {
    margin: 10px 0 4px;
}

.modal-dialog-max {
  width: 90%!important;
    height: 90%!important;
}

.ant-modal-wrap {
    z-index: 1050;
}

.ant-modal-content {
  height: 100%;
}

.modal-dialog-max .ant-modal-body {
    height: 100%;
    min-height: 400px;
}

.inspector .inspector-body .wrapper .iconfont {
    margin-right: 10px;
}

.inspector .inspector-body .wrapper .numberic {
    display: inline-block;
    width: 20%;
    vertical-align: top;
}

.inspector .inspector-body .wrapper .inspector-line-item {
    display: inline-block;
    color: #aaa;
}

.inspector .inspector-body .wrapper .inspector-line-item.active {
    font-weight: bolder;
    color: #fff;
}

.page-header {
    border: none;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 0px;
    margin-left: 10px;
    margin-right:10px;
}
.page-header small {
    margin-left: 20px;
    font-size: 55%;
}
.page-header h1 {
    margin-top: 0px;
    font-size: 30px;
    margin: 0;
}
